// Variables
$color-blue :#4d7cfe;
$color-blue-pastel: #679CF6;
$color-blue-active : #1665D8;
$color-blue-middle : #2185D0;
$color-light-blue :#4d7cfe;
$color-red :#e6492d;
$color-dark-red : #9f0404;
$color-info : #00b5ad;
$color-purple :#7148FD;
$color-black : #3e3f42;
$color-green : #6dd230;
$color-dark-green : #34AA44;
$color-grey : #9c9c9c;
$color-white : #fff;
$color-orange: #f6ac31;
$color-yellow:#f6d531;
$color-tag-bg : #F2F4F6;
$color-text-1 : #31394D;
$color-text-2 : #545F69;
$color-text-3 : #B8C5D3;
$color-text-4 : #9EA0A5;
$color-body : #F5F6FA;
$color-border : #eaedf3;
$color-border-1 : #e2e5ec;

  